// Define variables for your color scheme

// For example:
$red: #F3572E;
$blue: #54B6DD;
$yellow: #E4B41B;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #f1f1f1;
$black: #000000;
