// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


// Define fonts for body and headers
$body-font: "Zen Kaku Gothic New", "Helvetica", "sans-serif";
$headers-font: "Public Sans";


// $headers-font: "Galada", "cursive";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Mystical-Woods";
  src: url('MysticalWoodsRoughScript.ttf');
  // src: font-url('/assets/fonts/mystical-woods/MysticalWoodsRoughScript.eot?#iefix') format('embedded-opentype'),
  //      font-url('/assets/fonts/mystical-woods/MysticalWoodsRoughScript.woff') format('woff'),
  //      font-url('/assets/fonts/mystical-woods/MysticalWoodsRoughScript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$my-font: "Mystical-Woods";
// $headers-font: $my-font;
