* {
  font-family: $body-font;
}

h2 {
  font-family: $body-font;

}

h1 {
  font-size: 32px;
  font-family: $headers-font;
  margin-left: 15px;
  margin-top: 20px;
  }

  .pending {
    display: flex;
    position: absolute;
    top: 10px;
    height: min-content;
    right: 10px;
  }
.messages-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: absolute;
  bottom: 0;
  margin-bottom: 55px;
}

.message-row {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

.message {
  position: relative;
}

#chat-box {
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 70vh;
}

#main-chatroom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

#rate-cat {
  background-color: $blue;
  border-radius: 4px;
  border: none;
  padding: 4px 6px;
  margin-bottom: 8px;
  a {
    color: $white;
  }
}

.cat-chat-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background: white;
  padding: 16px 16px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: right;
  justify-content: flex-end;
  margin: 0;
  line-height: 1.4;
  color: #999999;
  font-weight: bold;
  align-items: center;
  p{
    margin: 0;
    font-size: smaller;
  }
}

.title {
  margin: 0;
  h2 {
    margin: 0;
    font-size: 24px;
    font-weight:500;
  }
}

.avatar {
  margin-right: 8px;
}

.pending {
  display: flex;
  position: absolute;
  bottom: 70px;
}
