
 .img-pair {
    display: flex;
    align-items: center;
    float:left;
    margin-top:-10%;
    margin-left: 24px;
  }
  .half-img {
    display:inline-block;
    // move to cover part of the first image
    margin-left:-7%;
  }
  h2 {
    display: inline-block;
    font-size: 1.25em;
    margin: 0;
  }

  #chat-btn {
    width:max-content ;
    height: 42px;
    border-radius: 4px;
    float: right;
    background-color: lightgrey;
    color: $black;
  }

  #message_content {
    border-radius: 4px;
    height: 42px;
    margin-left: 9px;
    margin-bottom: 10px;
  }

  .recipient {
    font-weight: 300;
    font-size: medium;
    margin-top: 8px;
  }

  .back {
    margin-right: 16px;
  }

i {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
