// Specific CSS for your home-page
// .galada-regular {
//   font-family: "Galada", cursive;
//   font-weight: 400;
//   font-style: normal;
// }

.my-font {
  font-family: "Mystical-Woods";
  font-weight: normal;
  font-style: normal;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.title {
  font-family: "Mystical-Woods";
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 10%;
  text-size-adjust: 80%;

  h1 {
    font-family: "Mystical-Woods";
    font-size: 3rem;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.baseline {
  justify-content: center;
  text-align: center;
  margin-bottom: 10%;
  p {
    font-family: "Dosis";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
