<h1>Messages</h1>

<% @chatrooms.each do |chatroom| %>
  <% unless chatroom.nil? || chatroom.match.status == "pending" %>
    <div class="cards">
      <div class="card.trip">
      <% if chatroom.match.cat.img_1.attached? %>
        <%= cl_image_tag(url_for(chatroom.match.cat.img_1), class: "avatar")%>
      <% end %>
        <h2><%= current_user == chatroom.match.user ? chatroom.match.cat.name : chatroom.match.user.first_name %></h2>
        <%= link_to "Join", chatroom_path(chatroom), class: "btn btn-login mb-3" %>
      </div>
    </div>
  <% end %>
<% end %>
<%= render "shared/matches" %>
