<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= link_to "Your match has been accepted! Join the chat here", chatroom_path(match.chatroom) %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
