<% if notice %>
  <div class="declined-alert alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= link_to "Sorry, but your match has been declined :( Try another cat", cats_path %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
