<div class="footer">
  <div class="footer-links">
    <%= link_to "Home", root_path, class: "btn btn-primary" %>
    <%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-primary" %>
  </div>
</div>
