<div class="container">
  <div class="title">
    <h1 class="my-font" ><span id="red" style="font-size: 4rem">F</span>eline <span id="blue" style="font-size: 4rem">F</span>riends</h1>
  </div>
  <div class="logo">
    <%= image_tag "MAIN LOGO.jpeg", class: "logo" %>
    <div class="baseline">
      <p>Connecting cats and cat lovers <br>one swipe at a time</p>
    </div>
  </div>
  <div class="buttons">
    <div class="signup-btn">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-signup" %>
    </div>
    <div class="login-btn">
      <%= link_to "Log In", new_user_session_path, class: "btn btn-login" %>
    </div>
  </div>
</div>
