<div class="home-container">
  <div class="logo">
    <div class="title">
      <h1><span id="red" class="my-font" style="font-size: 4rem">F</span>eline <span id="blue" class="my-font" style="font-size: 4rem">F</span>riends</h1>
    </div>
    <%= image_tag "MAIN LOGO.jpeg", class: "logo" %>
    <div class="baseline">
      <p>Connecting cats and cat lovers <br><span id="red" style="font-family: Dosis; font-size: 1.2rem; font-weight: 500;">one swipe at a time</span></p>
    </div>
    <div class="buttons">
      <div class="signup-btn">
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-signup" %>
      </div>
      <div class="login-btn">
        <%= link_to "Log In", new_user_session_path, class: "btn btn-login" %>
      </div>
    </div>
  </div>
</div>
