<div class="container">
  <div class="title">
    <h1 class="mb-3 galada-regular" ><span id="red">F</span>eline <span id="blue">F</span>riends</h1>
  </div>
  <div class="logo">
    <%= image_tag "MAIN LOGO.jpeg", class: "logo" %>
  </div>
  <div class="mt-3">
    <p>Connecting cats and cat lovers <br>one swipe at a time</p>
  </div>
  <div class="buttons">
    <div class="signup-btn">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-signup" %>
    </div>
    <div class="login-btn">
      <%= link_to "Log In", new_user_session_path, class: "btn btn-login" %>
    </div>
  </div>
</div>
