.alert {
  position: fixed;
  top: 40px;
  right: 16px;
  z-index: 1000;
  background-color: $white;
  border: 1px solid $yellow;
  color: $black;
  border-radius: 1rem;
  &a {
    color: $black;
  }
}

.alert-fade {
  /*...*/
  opacity: 0;
  animation: fadeOut 4s ease;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.accepted-alert {
  position: fixed;
  top: 40px;
  right: 16px;
  z-index: 1000;
  background-color: $white;
  border: 1px solid $blue;
  color: $black;
  border-radius: 1rem;

  &a {
    color: $black;
  }
}

.declined-alert {
  position: fixed;
  top: 40px;
  right: 16px;
  z-index: 1000;
  background-color: $white;
  border: 1px solid $red;
  color: $black;
  border-radius: 1rem;

  &a {
    color: $black;
  }
}
