.alert {
  position: fixed;
  top: 0;
  width: 96%;
  text-align: center;
  z-index: 1000;
  background-color: $yellow;
  border: 1px solid $black;
  color: #FFFFFF;
  border-radius: 1rem;
  &a {
    color: $black;
  }
}

.alert-fade {
  /*...*/
  opacity: 0;
  animation: fadeOut 4s ease;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.accepted-alert {
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 1000;
  background-color: $blue;
  border: 1px solid $black;
  color: #FFFFFF;
  border-radius: 1rem;

  &a {
    color: $black;
  }
}

.declined-alert {
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 1000;
  background-color: $red;
  border: 1px solid $black;
  color: #FFFFFF;
  border-radius: 1rem;

  &a {
    color: $black;
  }
}
