.btn-signup {
  text-align: center;
  width: 6rem;
  height: 3rem;
  padding: 0.5rem 1.25rem;
  border-radius: 1.25rem;
  background: $blue;
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  &:hover {
    background: darken($blue, 10%);
    color: $white;
  }
}

.btn-login {
  text-align: center;
  width: 6rem;
  height: 3rem;
  padding: 0.5rem 1.25rem;
  border-radius: 1.25rem;
  background: $yellow;
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  &:hover {
    background: darken($yellow, 10%);
    color: $white;
  }
}

.btn-password {
  text-align: center;
  width: auto;
  height: 3rem;
  padding: 0.5rem 1.25rem;
  border-radius: 1.25rem;
  background: $red;
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  &:hover {
    background: darken($red, 10%);
    color: $white;
  }
}

.btn-normal {
  text-align: center;
  width: auto;
  height: 3rem;
  padding: 0.5rem 1.25rem;
  border-radius: 1.25rem;
  background: $blue;
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  &:hover {
    background: darken($blue, 10%);
    color: $white;
  }
}
