.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-trip {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 25px;
}

.card-trip img {
  height: 70dvh;
  width: 100%;
  object-fit: cover;
}

.card-trip h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-card {
  width: 100%;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.cat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: #F8F9FA;
}

.cat-card-title {
  margin-top: 50px;
  padding-top: 24px;
  padding-bottom: 10px;
}

.cat-card-image {
  position: relative;
  background-color: #F8F9FA;
  }

.cat-card-actions {
  // position: absolute;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  // bottom: 50px;
  // left: 1em;
  margin-bottom: 10px;
}
.carousel {
  background-color: white;
}

.cat-card-details {
  text-align: left;
  padding-top: 10px;
  padding-left: 24px;
  padding-bottom: 10px;
  padding-right: 24px;
  border-top: 0.5px lightgray solid;
  line-height: 2;
}

.btn-heart {
  border-radius: 0%;
  text-decoration: none;
  font-size: 30px;
  color: red;
  // color: #54B6DD;
}

.btn-trash {
  // border-radius: 50%;
  background-color: white;
  font-size: 30px;
  color: black;
  border: none;
  border: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
