.cat-index-container {
  display: flex;
  width:auto;
  flex-direction: column;
  align-items: center;
}

.cat-card {
  width: 372px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  // margin: .5rem 0 1rem 0;
  margin: 10%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

// .cat-card-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 24px;
//   background-color: #F8F9FA;
// }

.cat-card-title {
  padding-top: 24px;
  padding-bottom: 10px;
}

.cat-card-image {
  // display: flex;
  justify-content: center;
  // position: relative;
  background-color: #F8F9FA;
  }

.carousel-inner {
  display: flex;
  position: relative;
}

.cat-card-actions {
  display: flex;
  position: absolute;
  // background-color: white;
  // padding-top: 10px;
  // padding-bottom: 10px;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
  // margin-bottom: 10px;
}
.carousel {
  background-color: white;
}

.cat-card-details {
  text-align: left;
  padding-top: 10px;
  padding-left: 24px;
  padding-bottom: 10px;
  padding-right: 24px;
  border-top: 0.5px lightgray solid;
  line-height: 2;
}

.btn-heart {
  border-radius: 50%;
  border: 1px solid white;
  height: 50px;
  width: 50px;
  text-decoration: none;
  font-size: 30px;
  color: red;
  // color: #54B6DD;
}

.btn-trash {
  border-radius: 50%;
  border: 1px solid white;
  height: 50px;
  width: 50px;
  // background-color: white;
  font-size: 30px;
  color: white;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
