.footer {
  background: $black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  margin-top: 50px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $white;
  opacity: 1;
  text-decoration: none;
  font-size: 14px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $red;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
