.logo {
  width: 90%;
}

h1 {
  color: $black;
  font-family: Dosis;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p {
  font-family: "Zen Kaku Gothic New";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#red {
  color: $red;
}

#blue {
  color: $blue;
}
