.mapboxgl-ctrl-top-right
.mapboxgl-ctrl {
  margin: 0 !important;
}

.mapboxgl-ctrl-top-right {
  width: 100% !important;
}

#map_canvas {
  height: 1000px;
  width: 100%;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Zen Kaku Gothic New";
  border-radius: 0.25rem;
  border: 1px solid black;
  box-shadow: 4px 4px black;
}

#border {
  border: 1px solid black;
  font-size: 0;
}
