.match-cards {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  border-radius: 25px;
  margin: 1rem 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.match-cards-profile {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.match-card-trip {
  overflow: hidden;
  height: auto;
  background: white;
}


.match-card-trip h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.match-card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.match-card-trip-infos p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.text-blue {
  color: $blue;
}

.text-red {
  color: $red;
}

.text-yellow {
  color: $yellow;
}
