.match-cards {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid $black;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
}

.match-cards-profile {
  padding: 1rem;
  border: 2px solid $black;
}

.match-card-trip {
  overflow: hidden;
  height: auto;
  background: white;
}


.match-card-trip h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.match-card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.match-card-trip-infos p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.text-blue {
  color: $blue;
}

.text-red {
  color: $red;
}

.text-yellow {
  color: $yellow;
}
