.message-row {
  margin-bottom: 10px;
  padding: 4px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 0 8px;
  min-height: 30px;
}

.sender-style {
  background-color: #E4B41B;
}

.receiver-style {
  background-color: #F3572E;
}

#chat-box {
margin-top: 8px;
}
