.message-row {
  margin-bottom: 10px;
  padding: 4px;
}

// To style the message itself
.sender-style,
.receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 0 8px;
  min-height: 30px;
}

.sender-style {
  background-color: #e4b41b;
}

.receiver-style {
  background-color: #f3572e;
}

#chat-box {
  margin-top: 8px;
}

.messages-form {
  display: flex;
  justify-content: center;
  
}
