.cards {
  display: grid;
  grid-template-columns: 1fr;
}

.card-trip {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 25px;
}

.profile-upper-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card-trip img {
  height: 50dvh;
  width: 100%;
  object-fit: cover;
}

.card-trip h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.remove {
  display: flex;
  text-align: center;
  margin-left: 5px;
}

.gl-star-rating {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.form-label .select .required {
  color: transparent; /* make the text invisible */
  user-select: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
