<div class="container w-75 mt-3 text-center">
  <h1>Cats</h1>
  <% @cats.each do |cat| %>
    <div class="container mb-5">
      <h2><%= cat.name %></h2>
      <p><%= cat.details%></p>
      <%= link_to "Show this cat", cat_path(cat), class: "btn btn-primary" %>
    </div>
  <%end%>

  <%= link_to "Back", root_path, class: "btn btn-primary" %>
</div>
